<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MalangCode Innovators Pvt Ltd. Backend</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
        <div class="container">
            <div class="logo">
                <img src="{% static "images/logo.png" %}" alt="logo">
            </div>

            <h1>Welcome to Backend</h1>
            
            <span></span>

            <button onclick="(location.href = '/dashboard-panel-malangcode-innovators-786-only-admins-2654323')" >Go TO Admin Panel</button>
        </div>
    </main>
</body>
</html>